<!DOCTYPE html>
<html>
    <head>
        <title>React Notes</title>
        <link rel="stylesheet" type="text/css" href="/lib/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/lib/css/skeleton.css">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <div class="container" id="app"></div>
        <script> var USER = <%- user %>; </script>
        <script src="./all.js"></script>
    </body>
</html>
